{% extends 'base.html.twig' %}

{% block title %}Proyecto index{% endblock %}

{% block body %}
    <h1>Proyecto index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NombreProyecto</th>
                <th>FechaInicio</th>
                <th>FechaFin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proyecto in proyectos %}
            <tr>
                <td>{{ proyecto.id }}</td>
                <td>{{ proyecto.nombreProyecto }}</td>
                <td>{{ proyecto.fechaInicio ? proyecto.fechaInicio|date('Y-m-d') : '' }}</td>
                <td>{{ proyecto.fechaFin ? proyecto.fechaFin|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_proyecto_show', {'id': proyecto.id}) }}">show</a>
                    <a href="{{ path('app_proyecto_edit', {'id': proyecto.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_proyecto_new') }}">Create new</a>
{% endblock %}
