{% extends 'base.html.twig' %}

{% block title %}Proyecto{% endblock %}

{% block body %}
    <h1>Proyecto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proyecto.id }}</td>
            </tr>
            <tr>
                <th>NombreProyecto</th>
                <td>{{ proyecto.nombreProyecto }}</td>
            </tr>
            <tr>
                <th>FechaInicio</th>
                <td>{{ proyecto.fechaInicio ? proyecto.fechaInicio|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>FechaFin</th>
                <td>{{ proyecto.fechaFin ? proyecto.fechaFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>
                    Empleados
                </th>
                <td>
                    <ul>
                        {% for empleado in proyecto.empleados %}
                            <li>{{ empleado.nombre }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_proyecto_index') }}">back to list</a>

    <a href="{{ path('app_proyecto_edit', {'id': proyecto.id}) }}">edit</a>

    {{ include('proyecto/_delete_form.html.twig') }}
{% endblock %}
